### Gathering Data

> Import Required Libraries and Modules

In [1]:
import pandas as pd
import requests
import json
import os

> Twitter Archives

In [2]:
tweet_archive_enhanced = 'datasets/twitter-archive-enhanced.csv'

In [3]:
twitter_archive = pd.read_csv(tweet_archive_enhanced)
twitter_archive.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

> Image Predictions

In [4]:
img_predictions_link = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

In [5]:
res = requests.get(img_predictions_link)

In [6]:
#walk through datasets directory
!cd datasets
!ls

analysis  img_pred.tsv	report		  resources	      twitter-api.py
datasets  README.md	requirements.txt  rough_drafts.ipynb  wrangle_act.ipynb

In [7]:
#create a new file to save dowmloaded data
!touch img_pred.tsv
!mv img_pred.tsv ~ datasets

mv: cannot move '/home/patrick' to a subdirectory of itself, 'datasets/patrick'

In [8]:
# write downloaded data into file
with open ('datasets/img_pred.tsv', mode='wb') as file:
    file.write(res.content)

In [14]:
img_pred = pd.read_csv('datasets/img_pred.tsv', sep='\t')
img_pred.head(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

> Tweet Json

In [10]:
tweet_json = 'datasets/tweet-json(udacity).txt'