### Gathering Data

> Import Required Libraries and Modules

In [84]:
import pandas as pd
import requests
import json
import os

> Twitter Archives

In [85]:
tweet_archive_enhanced = 'datasets/twitter-archive-enhanced.csv'

In [86]:
df_twitter_archive = pd.read_csv(tweet_archive_enhanced)
df_twitter_archive.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

> Image Predictions

In [87]:
img_predictions_link = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

In [88]:
res = requests.get(img_predictions_link)

In [89]:
#walk through datasets directory
!cd datasets
!ls

analysis	  README.md	    resources	       wrangle_act.ipynb
datasets	  report	    twitter-api.ipynb
gater_data.ipynb  requirements.txt  twitter-api.py

In [90]:
#create a new file to save dowmloaded data
!touch img_pred.tsv
!mv img_pred.tsv ~ datasets

mv: cannot move '/home/patrick' to a subdirectory of itself, 'datasets/patrick'

In [91]:
# write downloaded data into file
with open ('datasets/img_pred.tsv', mode='wb') as file:
    file.write(res.content)

In [92]:
df_img_pred = pd.read_csv('datasets/img_pred.tsv', sep='\t')
df_img_pred.head(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

> Tweet Json

In [93]:
tweet_json = 'datasets/tweet-json-2.txt'

In [94]:
tweets =[]
with open (tweet_json, mode='rb') as file:
        for line in file:
            tweet = json.loads(line)
            tweets.append(tweet)

In [95]:
df_tweets = pd.DataFrame(tweets)

In [96]:
df_tweets.head(1)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,False,False,en,NaN,NaN,NaN,NaN