# Data Wrangling, Analysis and Report on @dog_rates twitter feeds

## Content

#### 1. Gather data
   >> `Twitter Archives`
    
   >> `Image Predictions`
    
   >> `Tweets json`

#### 2.  Assess data
>>`Summary of Assessments:`
>>>      Quality
>>>      Tidiness

#### 3. Clean data

>> `Define`

>> `Code`

>> `Test`

#### 4. Analyse data
     
   >> `Feature Enginnering`
     
  >>`Visualization`

#### 5.  Report
   >> `wrangle_report`
   
   >>`act_report`

>

>

### Gathering Data

> Import Required Libraries and Modules

In [1]:
import pandas as pd
import requests
import json
import os

> Dataset 1:  Twitter Archives

In [39]:
tweet_archive_enhanced = './datasets/twitter-archive-enhanced.csv'

In [17]:
df_twitter_archive = pd.read_csv(tweet_archive_enhanced)
df_twitter_archive.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

> Dataset 2: Image Predictions

In [28]:
img_predictions_link = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

In [29]:
res = requests.get(img_predictions_link)

In [31]:
#walk through datasets directory
!cd datasets
!ls

analysis  README.md  requirements.txt  twitter-api.ipynb
datasets  report     resources	       twitter-api.py

In [32]:
#create a new file to save dowmloaded data
!touch img_pred.tsv
!mv img_pred.tsv ~ datasets

mv: cannot move '/home/patrick' to a subdirectory of itself, 'datasets/patrick'

In [33]:
# write downloaded data into file
with open ('datasets/img_pred.tsv', mode='wb') as file:
    file.write(res.content)

In [34]:
df_img_pred = pd.read_csv('datasets/img_pred.tsv', sep='\t')
df_img_pred.head(2)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True

> Dataset 3: Json Tweets

In [35]:
tweet_json = 'datasets/tweet-json-2.txt'

In [36]:
tweets =[]
with open (tweet_json, mode='rb') as file:
        for line in file:
            tweet = json.loads(line) 
            tweets.append(tweet)

In [37]:
df_tweets = pd.DataFrame(tweets)

> read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.

In [38]:
df_tweets.head(1)

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,False,False,en,NaN,NaN,NaN,NaN

###

### Assessing Data

> Aseesment 1:  Twitter Archive

In [28]:
df_twitter_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [16]:
#check data size
df_twitter_archive.shape[0]

2356

In [17]:
#gather general info about data
df_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [18]:
#take a look at the list of unique names
unique_names = list(set(df_twitter_archive.name.sort_values().to_list()))
unique_names[:10]

['Jessiga',
 'Bloo',
 'Fiji',
 'Orion',
 'Brad',
 'Pickles',
 'Brownie',
 'Sprinkles',
 'Bubba',
 'Ken']

In [19]:
len(unique_names)

957

In [34]:
# check the values in names
df_twitter_archive.name.value_counts().to_dict()

{'None': 745,
 'a': 55,
 'Charlie': 12,
 'Lucy': 11,
 'Cooper': 11,
 'Oliver': 11,
 'Lola': 10,
 'Tucker': 10,
 'Penny': 10,
 'Winston': 9,
 'Bo': 9,
 'the': 8,
 'Sadie': 8,
 'Toby': 7,
 'Daisy': 7,
 'Bailey': 7,
 'an': 7,
 'Buddy': 7,
 'Dave': 6,
 'Leo': 6,
 'Stanley': 6,
 'Koda': 6,
 'Jax': 6,
 'Scout': 6,
 'Milo': 6,
 'Oscar': 6,
 'Bella': 6,
 'Jack': 6,
 'Rusty': 6,
 'George': 5,
 'Larry': 5,
 'Chester': 5,
 'very': 5,
 'Bentley': 5,
 'Sunny': 5,
 'Phil': 5,
 'Louis': 5,
 'Sammy': 5,
 'Alfie': 5,
 'Oakley': 5,
 'Gus': 5,
 'Finn': 5,
 'Maddie': 4,
 'Walter': 4,
 'Sophie': 4,
 'Cassie': 4,
 'Dexter': 4,
 'Winnie': 4,
 'just': 4,
 'one': 4,
 'Gary': 4,
 'Archie': 4,
 'Sampson': 4,
 'Gerald': 4,
 'Bear': 4,
 'Jeffrey': 4,
 'Scooter': 4,
 'Carl': 4,
 'Brody': 4,
 'Riley': 4,
 'Reginald': 4,
 'Clarence': 4,
 'Loki': 4,
 'Beau': 4,
 'quite': 4,
 'Clark': 4,
 'Shadow': 4,
 'Jerry': 4,
 'Ruby': 4,
 'Boomer': 4,
 'Chip': 4,
 'Moose': 4,
 'Maximus': 4,
 'Hank': 4,
 'Duke': 4,
 'Bruce': 4,
 'Derek': 4,
 'Luna': 4,
 'Reggie': 4,
 'Maggie': 4,
 'Wyatt': 3,
 'Nala': 3,
 'Earl': 3,
 'Paisley': 3,
 'Zeke': 3,
 'Colby': 3,
 'Malcolm': 3,
 'Samson': 3,
 'Sebastian': 3,
 'Zoey': 3,
 'Otis': 3,
 'Waffles': 3,
 'Louie': 3,
 'Doug': 3,
 'Max': 3,
 'Calvin': 3,
 'Rosie': 3,
 'Rory': 3,
 'Vincent': 3,
 'Lily': 3,
 'Wilson': 3,
 'Gizmo': 3,
 'Ted': 3,
 'Steven': 3,
 'Olive': 3,
 'Kyle': 3,
 'Arnie': 3,
 'Ellie': 3,
 'Coco': 3,
 'Reese': 3,
 'Mia': 3,
 'Wallace': 3,
 'Klevin': 3,
 'Frankie': 3,
 'Jimothy': 3,
 'Lorenzo': 3,
 'Peaches': 3,
 'Atticus': 2,
 'Cody': 2,
 'Fred': 2,
 'Harold': 2,
 'Moe': 2,
 'Gidget': 2,
 'Sandy': 2,
 'getting': 2,
 'Jeph': 2,
 'Panda': 2,
 'Seamus': 2,
 'Ollie': 2,
 'Romeo': 2,
 'Coops': 2,
 'Bubbles': 2,
 'Bungalo': 2,
 'Abby': 2,
 'Jimison': 2,
 'Kenny': 2,
 'Kirby': 2,
 'Jiminy': 2,
 'Rizzy': 2,
 'Juno': 2,
 'Moreton': 2,
 'Opal': 2,
 'Sierra': 2,
 'Neptune': 2,
 'Terry': 2,
 'Griffin': 2,
 'Astrid': 2,
 'Gabe': 2,
 'Paull': 2,
 'Lilly': 2,
 'Harper': 2,
 'Albus': 2,
 'Percy': 2,
 'Hercules': 2,
 'Cupcake': 2,
 'Patrick': 2,
 'Eve': 2,
 'Nollie': 2,
 'Meyer': 2,
 'Eli': 2,
 'Smokey': 2,
 'Curtis': 2,
 'Blitz': 2,
 'Elliot': 2,
 'actually': 2,
 'Herald': 2,
 'Quinn': 2,
 'Keurig': 2,
 'Jesse': 2,
 'Lennon': 2,
 'Emmy': 2,
 'Anakin': 2,
 'Franklin': 2,
 'Watson': 2,
 'Hammond': 2,
 'Pipsy': 2,
 'Finley': 2,
 'Kenneth': 2,
 'Hurley': 2,
 'Gromit': 2,
 'Rubio': 2,
 'Olivia': 2,
 'Piper': 2,
 'Wally': 2,
 'Lincoln': 2,
 'Nelly': 2,
 'Kreg': 2,
 'Fizz': 2,
 'Ash': 2,
 'Brad': 2,
 'Pickles': 2,
 'Ken': 2,
 'Herschel': 2,
 'Raymond': 2,
 'Kilo': 2,
 'Misty': 2,
 'Butter': 2,
 'Odie': 2,
 'Marley': 2,
 'Logan': 2,
 'Atlas': 2,
 'Bob': 2,
 'Indie': 2,
 'Jackson': 2,
 'Dakota': 2,
 'Rocky': 2,
 'Lou': 2,
 'Happy': 2,
 'Crystal': 2,
 'Axel': 2,
 'Jamesy': 2,
 'Ozzy': 2,
 'Aspen': 2,
 'Frank': 2,
 'Trooper': 2,
 'Luca': 2,
 'Baloo': 2,
 'Benedict': 2,
 'Sansa': 2,
 'Penelope': 2,
 'Thumas': 2,
 'Bell': 2,
 'Dawn': 2,
 'CeCe': 2,
 'Solomon': 2,
 'Titan': 2,
 'Django': 2,
 'Pablo': 2,
 'Lenny': 2,
 'Ava': 2,
 'Stubert': 2,
 'Rocco': 2,
 'Timison': 2,
 'Stephan': 2,
 'Churlie': 2,
 'Mattie': 2,
 'Shaggy': 2,
 'Davey': 2,
 'Rufus': 2,
 'Tyr': 2,
 'Klein': 2,
 'Chuckles': 2,
 'Chipson': 2,
 'not': 2,
 'Remington': 2,
 'Maxaroni': 2,
 'Phineas': 2,
 'Yogi': 2,
 'Sugar': 2,
 'Dash': 2,
 'Hobbes': 2,
 'Levi': 2,
 'Chet': 2,
 'Theodore': 2,
 'Cash': 2,
 'Keith': 2,
 'Carly': 2,
 'Linda': 2,
 'Mister': 2,
 'Fiona': 2,
 'Sarge': 2,
 'Doc': 2,
 'Herm': 2,
 'Charles': 2,
 'Alice': 2,
 'Benji': 2,
 'Bisquick': 2,
 'Calbert': 2,
 'Kevin': 2,
 'Philbert': 2,
 'Baxter': 2,
 'Chelsea': 2,
 'Roosevelt': 2,
 'Oshie': 2,
 'Chompsky': 2,
 'Pippa': 2,
 'Bernie': 2,
 'Kreggory': 2,
 'Flávio': 2,
 'Terrance': 2,
 'Tyrone': 2,
 'Betty': 2,
 'Sam': 2,
 'Belle': 2,
 'Cali': 2,
 'Balto': 2,
 'Hunter': 2,
 'Canela': 2,
 'Layla': 2,
 'Phred': 2,
 'Albert': 2,
 'mad': 2,
 'Oliviér': 2,
 'Leela': 2,
 'Kyro': 2,
 'Jed': 1,
 'Alfy': 1,
 'Frönq': 1,
 'Brian': 1,
 'Tom': 1,
 'Sojourner': 1,
 'Blakely': 1,
 'Alexanderson': 1,
 'Alf': 1,
 'Cheryl': 1,
 'Robin': 1,
 'Carper': 1,
 'Kingsley': 1,
 'Georgie': 1,
 'Bobble': 1,
 'Champ': 1,
 'Snickers': 1,
 'Lolo': 1,
 'Longfellow': 1,
 'Skittles': 1,
 'Michelangelope': 1,
 'Meatball': 1,
 'Clarkus': 1,
 'Oddie': 1,
 'Joey': 1,
 'Molly': 1,
 'Mutt': 1,
 'Peanut': 1,
 'Puff': 1,
 'Harvey': 1,
 'Ike': 1,
 'Arlen': 1,
 'Ginger': 1,
 'Oreo': 1,
 'Rudy': 1,
 'Arya': 1,
 'Jonah': 1,
 'Eazy': 1,
 'Timber': 1,
 'Pumpkin': 1,
 'Malikai': 1,
 'Durg': 1,
 'Blanket': 1,
 'Horace': 1,
 'Dylan': 1,
 'Teddy': 1,
 'Shiloh': 1,
 'Jimbo': 1,
 'Godi': 1,
 'Pupcasso': 1,
 'Spark': 1,
 'Kody': 1,
 'Stella': 1,
 'Tess': 1,
 'Dunkin': 1,
 'Snoopy': 1,
 'Blu': 1,
 'Jordy': 1,
 'Tango': 1,
 'Pancake': 1,
 'Crimson': 1,
 'Andy': 1,
 'Cleopatricia': 1,
 'Jim': 1,
 'Terrenth': 1,
 'Dido': 1,
 'Mark': 1,
 'Bluebert': 1,
 'Iggy': 1,
 'Kenzie': 1,
 'Dot': 1,
 'Hubertson': 1,
 'Rodman': 1,
 'Comet': 1,
 'Stu': 1,
 'his': 1,
 'Edgar': 1,
 'Andru': 1,
 'Sephie': 1,
 'Jennifur': 1,
 'Zooey': 1,
 'Diogi': 1,
 'Clyde': 1,
 'Bonaparte': 1,
 'Cilantro': 1,
 'Tug': 1,
 'Coleman': 1,
 'Hector': 1,
 'Alexander': 1,
 'Sparky': 1,
 'Einstein': 1,
 'Buckley': 1,
 'Butters': 1,
 'Brudge': 1,
 'Socks': 1,
 'Mookie': 1,
 'Barclay': 1,
 'Vixen': 1,
 'Wafer': 1,
 'Ralph': 1,
 'Jomathan': 1,
 'Maya': 1,
 'Ricky': 1,
 'Coopson': 1,
 'Filup': 1,
 'Tedders': 1,
 'Yoda': 1,
 'Clarq': 1,
 'Rhino': 1,
 'Rupert': 1,
 'Jackie': 1,
 'Monty': 1,
 'Beemo': 1,
 'Sailor': 1,
 'Colin': 1,
 'Acro': 1,
 'Yukon': 1,
 'Tupawc': 1,
 'Todo': 1,
 'Claude': 1,
 'Darby': 1,
 'Rilo': 1,
 'Gert': 1,
 'Rose': 1,
 'Kobe': 1,
 'Luther': 1,
 'Glacier': 1,
 'Marlee': 1,
 'Leonidas': 1,
 'Fletcher': 1,
 'Jerome': 1,
 'Striker': 1,
 'Richie': 1,
 'Danny': 1,
 'Remus': 1,
 'Barney': 1,
 'Chuck': 1,
 'Rascal': 1,
 'Ace': 1,
 'Goose': 1,
 'Gin': 1,
 'Livvie': 1,
 'Edd': 1,
 'Rufio': 1,
 'Charleson': 1,
 'Tiger': 1,
 'Jeffri': 1,
 'Jessifer': 1,
 'Vince': 1,
 'Nugget': 1,
 'Patch': 1,
 'Apollo': 1,
 'Franq': 1,
 'Dug': 1,
 'Henry': 1,
 'Lupe': 1,
 'Carbon': 1,
 'Pinot': 1,
 'all': 1,
 'Shawwn': 1,
 'Corey': 1,
 'Perry': 1,
 'Chef': 1,
 'Stewie': 1,
 'Aja': 1,
 'Cheesy': 1,
 'Brooks': 1,
 'Sonny': 1,
 'Spencer': 1,
 'Venti': 1,
 'Bayley': 1,
 'Lambeau': 1,
 'Brandy': 1,
 'Kollin': 1,
 'Eriq': 1,
 'Zara': 1,
 'Bilbo': 1,
 'Cuddles': 1,
 'Kota': 1,
 'Bookstore': 1,
 'Darla': 1,
 'Duddles': 1,
 'Tater': 1,
 'Akumi': 1,
 'Beya': 1,
 'Christoper': 1,
 'Birf': 1,
 'Daniel': 1,
 'Pilot': 1,
 'Snoop': 1,
 'Eevee': 1,
 'Jay': 1,
 'this': 1,
 'Ralphie': 1,
 'Arlo': 1,
 'Kane': 1,
 'Bloop': 1,
 'Emmie': 1,
 'Petrick': 1,
 'Banditt': 1,
 'Cermet': 1,
 'Asher': 1,
 'Julius': 1,
 'Ralf': 1,
 'Genevieve': 1,
 'Jaspers': 1,
 'Bubba': 1,
 'Brownie': 1,
 'Derby': 1,
 'Kara': 1,
 'O': 1,
 'Orion': 1,
 'Fiji': 1,
 'Jessiga': 1,
 'infuriating': 1,
 'Brady': 1,
 'Koko': 1,
 'Lucky': 1,
 'Al': 1,
 'Chesterson': 1,
 'Sunshine': 1,
 'Ben': 1,
 'Gerbald': 1,
 'Jeremy': 1,
 'Flash': 1,
 'Rey': 1,
 'Willie': 1,
 'Keet': 1,
 'Walker': 1,
 'Mairi': 1,
 'Mike': 1,
 'Olaf': 1,
 'Jaycob': 1,
 'Godzilla': 1,
 'Meera': 1,
 'Hazel': 1,
 'Billy': 1,
 'Chadrick': 1,
 'Linus': 1,
 'Gustav': 1,
 'BeBe': 1,
 'Tayzie': 1,
 'Major': 1,
 'Bronte': 1,
 'Boots': 1,
 'Kona': 1,
 'Dex': 1,
 'Ziva': 1,
 'Aldrick': 1,
 'Moofasa': 1,
 'Dewey': 1,
 'Scruffers': 1,
 'Chase': 1,
 'Pepper': 1,
 'Sailer': 1,
 'Ralphé': 1,
 'Dudley': 1,
 'Caryl': 1,
 'Gòrdón': 1,
 'Pip': 1,
 'Brandonald': 1,
 'Taco': 1,
 'Sprinkles': 1,
 'Blipson': 1,
 'Julio': 1,
 'Alejandro': 1,
 'Timofy': 1,
 'Grizz': 1,
 'Carter': 1,
 'Aqua': 1,
 'Sobe': 1,
 'Geoff': 1,
 'Lassie': 1,
 'Mimosa': 1,
 'Amélie': 1,
 'life': 1,
 'by': 1,
 'Odin': 1,
 'Iroh': 1,
 'Zoe': 1,
 'Pete': 1,
 'Miguel': 1,
 'Stuart': 1,
 'Ridley': 1,
 'Willow': 1,
 'Margo': 1,
 'Taz': 1,
 'Newt': 1,
 'Remy': 1,
 'Grizzie': 1,
 'Aiden': 1,
 'Pavlov': 1,
 'Fynn': 1,
 'Crumpet': 1,
 'Chaz': 1,
 'Cal': 1,
 'Jersey': 1,
 'Goliath': 1,
 'Sora': 1,
 'Liam': 1,
 'Rolf': 1,
 'Lenox': 1,
 'Blue': 1,
 'Lipton': 1,
 'Creg': 1,
 'Kallie': 1,
 'Bruno': 1,
 'Lilah': 1,
 'Murphy': 1,
 'Beckham': 1,
 'Ole': 1,
 'Marq': 1,
 'Mojo': 1,
 'Leonard': 1,
 'Norman': 1,
 'Gordon': 1,
 'Lilli': 1,
 'Jangle': 1,
 'Ashleigh': 1,
 'Millie': 1,
 'Rontu': 1,
 'Harlso': 1,
 'Zuzu': 1,
 'Dook': 1,
 'Boston': 1,
 'Superpup': 1,
 'Erik': 1,
 'Fillup': 1,
 'Zeek': 1,
 'Rodney': 1,
 'Devón': 1,
 'Joshwa': 1,
 'Emanuel': 1,
 'Snicku': 1,
 'Lizzie': 1,
 'Jameson': 1,
 'Rooney': 1,
 'Tonks': 1,
 'Jiminus': 1,
 'Trigger': 1,
 'Staniel': 1,
 'Biden': 1,
 'Pherb': 1,
 'Antony': 1,
 'Hanz': 1,
 'Cupid': 1,
 'Mabel': 1,
 'Augie': 1,
 'Marty': 1,
 'Combo': 1,
 'Mosby': 1,
 'Bradlay': 1,
 'Tanner': 1,
 'Lili': 1,
 'Sage': 1,
 'Carll': 1,
 'Dwight': 1,
 'Sweets': 1,
 'Crouton': 1,
 'Tuck': 1,
 'Anthony': 1,
 'Baron': 1,
 'Raphael': 1,
 'Rover': 1,
 'Siba': 1,
 'Tripp': 1,
 'Mary': 1,
 'Aubie': 1,
 'Travis': 1,
 'Simba': 1,
 'Tilly': 1,
 'Lugan': 1,
 'Berkeley': 1,
 'Wiggles': 1,
 'Reagan': 1,
 'Doobert': 1,
 'Herb': 1,
 'Cecil': 1,
 'Rumble': 1,
 'Shnuggles': 1,
 'Bones': 1,
 'Darrel': 1,
 'Clybe': 1,
 'Trevith': 1,
 'Jareld': 1,
 'Reptar': 1,
 'Roscoe': 1,
 'Binky': 1,
 'Deacon': 1,
 'Halo': 1,
 'Karll': 1,
 'Maks': 1,
 'Tebow': 1,
 'Torque': 1,
 'Nimbus': 1,
 'Freddery': 1,
 'Scott': 1,
 'Monkey': 1,
 'Sandra': 1,
 'Mitch': 1,
 'Ralpher': 1,
 'Grizzwald': 1,
 'Brockly': 1,
 'Kathmandu': 1,
 'Dale': 1,
 'Sweet': 1,
 'Batdog': 1,
 'Lucia': 1,
 'Jarvis': 1,
 'Mauve': 1,
 'Smiley': 1,
 'Karl': 1,
 'Bowie': 1,
 'Enchilada': 1,
 'Ivar': 1,
 'Glenn': 1,
 'Pawnd': 1,
 'Lulu': 1,
 'space': 1,
 'Amber': 1,
 'Pluto': 1,
 'Beebop': 1,
 'Mack': 1,
 'Mo': 1,
 'Mollie': 1,
 'Sid': 1,
 'Geno': 1,
 'Mac': 1,
 'Bert': 1,
 'Saydee': 1,
 'Samsom': 1,
 'Bobb': 1,
 'JD': 1,
 'Willem': 1,
 'Willy': 1,
 'incredibly': 1,
 'Gustaf': 1,
 'Strudel': 1,
 'Wesley': 1,
 'Chuq': 1,
 'Shelby': 1,
 'Sully': 1,
 'Shooter': 1,
 'old': 1,
 'Milky': 1,
 'River': 1,
 'Noosh': 1,
 'Autumn': 1,
 'Stefan': 1,
 'Howie': 1,
 'Naphaniel': 1,
 'Tino': 1,
 'Mason': 1,
 'Kawhi': 1,
 'Tove': 1,
 'Jazzy': 1,
 'Jazz': 1,
 'Divine': 1,
 'Chloe': 1,
 'Holly': 1,
 'Loomis': 1,
 'Bodie': 1,
 'Bobbay': 1,
 'Stark': 1,
 'Ember': 1,
 'Grady': 1,
 'Pippin': 1,
 'Ron': 1,
 'Poppy': 1,
 'Jeb': 1,
 'Bruiser': 1,
 'Kloey': 1,
 'Ozzie': 1,
 'Ruffles': 1,
 'Hermione': 1,
 'Adele': 1,
 'Stephanus': 1,
 'Skittle': 1,
 'Harry': 1,
 'Monster': 1,
 'Brandi': 1,
 'Randall': 1,
 'Dallas': 1,
 'Jeffrie': 1,
 'Rambo': 1,
 'Charl': 1,
 'Schnitzel': 1,
 'Swagger': 1,
 'Ulysses': 1,
 'Ester': 1,
 'Ralphus': 1,
 'Lance': 1,
 'Edmund': 1,
 'Emma': 1,
 'Trip': 1,
 'Timmy': 1,
 'Benny': 1,
 'Sundance': 1,
 'Laela': 1,
 'Brutus': 1,
 'Hall': 1,
 'Kaia': 1,
 'William': 1,
 'Karma': 1,
 'Opie': 1,
 'Storkson': 1,
 'Wishes': 1,
 'Brat': 1,
 'Flurpson': 1,
 'Arnold': 1,
 'Schnozz': 1,
 'Chevy': 1,
 'Tuco': 1,
 'Noah': 1,
 'Evy': 1,
 'Lorelei': 1,
 'Heinrich': 1,
 'Miley': 1,
 'Philippe': 1,
 'Covach': 1,
 'Marvin': 1,
 'Grey': 1,
 'officially': 1,
 'Lillie': 1,
 'Josep': 1,
 'Ralphson': 1,
 'Obie': 1,
 'Finnegus': 1,
 'Crawford': 1,
 'Shikha': 1,
 'Bertson': 1,
 'DonDon': 1,
 'Tessa': 1,
 'unacceptable': 1,
 'Huxley': 1,
 'Bode': 1,
 'Kaiya': 1,
 'Duchess': 1,
 'Griswold': 1,
 'Kulet': 1,
 'Link': 1,
 'Maisey': 1,
 'Fabio': 1,
 'Tobi': 1,
 'Izzy': 1,
 'Billl': 1,
 'Mona': 1,
 'Dobby': 1,
 'Chesney': 1,
 'Dietrich': 1,
 'Katie': 1,
 'Steve': 1,
 'Maude': 1,
 'Jo': 1,
 'Gabby': 1,
 'Nico': 1,
 'Hamrick': 1,
 'Vinscent': 1,
 'Strider': 1,
 'Dante': 1,
 'Suki': 1,
 'Nida': 1,
 'Banjo': 1,
 'Skye': 1,
 'Ed': 1,
 'Harnold': 1,
 'Lacy': 1,
 'Huck': 1,
 'Ronduh': 1,
 'Jarod': 1,
 'General': 1,
 'Theo': 1,
 'Obi': 1,
 'Toffee': 1,
 'Ronnie': 1,
 'Cannon': 1,
 'Vinnie': 1,
 'Ferg': 1,
 'Zeus': 1,
 'Laika': 1,
 'Barry': 1,
 'such': 1,
 'Kayla': 1,
 'Gilbert': 1,
 'Kuyu': 1,
 'my': 1,
 'Kevon': 1,
 'Rizzo': 1,
 'Damon': 1,
 'Fido': 1,
 'Tycho': 1,
 'Mingus': 1,
 'Shakespeare': 1,
 'Kendall': 1,
 'Burt': 1,
 'Hero': 1,
 'Thor': 1,
 'Winifred': 1,
 'Craig': 1,
 'Furzey': 1,
 'Eleanor': 1,
 'Farfle': 1,
 'Rinna': 1,
 'Maxwell': 1,
 'Tyrus': 1,
 'Anna': 1,
 'Tito': 1,
 'Bloo': 1,
 'Rumpole': 1,
 'Cedrick': 1,
 'DayZ': 1,
 'Dotsy': 1,
 'Amy': 1,
 'Fwed': 1,
 'Buddah': 1,
 'Pubert': 1,
 'Clifford': 1,
 'Sky': 1,
 'Jockson': 1,
 'Bradley': 1,
 'Napolean': 1,
 'Gunner': 1,
 'Jett': 1,
 'Cora': 1,
 'Angel': 1,
 'Humphrey': 1,
 'Berb': 1,
 'Traviss': 1,
 'Stormy': 1,
 'Mya': 1,
 'Bobby': 1,
 'Sprout': 1,
 'Eugene': 1,
 'Ebby': 1,
 'Ito': 1,
 'Kanu': 1,
 'Florence': 1,
 'Juckson': 1,
 'Chubbs': 1,
 'Tommy': 1,
 'Nigel': 1,
 'Dutch': 1,
 'Rorie': 1,
 'Tedrick': 1,
 'Kirk': 1,
 'Shadoe': 1,
 'Kellogg': 1,
 'Jebberson': 1,
 'Kial': 1,
 'light': 1,
 'Donny': 1,
 'Rueben': 1,
 'Harrison': 1,
 'Ralphy': 1,
 'Severus': 1,
 'Dixie': 1,
 'Tassy': 1,
 'Spanky': 1,
 'Callie': 1,
 'Kramer': 1,
 'Ambrose': 1,
 'Bauer': 1}

> Check for null values

In [20]:
df_twitter_archive.isnull().any()

tweet_id                      False
in_reply_to_status_id          True
in_reply_to_user_id            True
timestamp                     False
source                        False
text                          False
retweeted_status_id            True
retweeted_status_user_id       True
retweeted_status_timestamp     True
expanded_urls                  True
rating_numerator              False
rating_denominator            False
name                          False
doggo                         False
floofer                       False
pupper                        False
puppo                         False
dtype: bool

>

In [21]:
# examine text of rows where name is None
df_twitter_archive.query('name == "None"')['text'].to_list()[:20]

["Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh",
 "When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq",
 "Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm",
 'You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https://t.co/WZqNqygEyV',
 'This... is a Jubilant Antarctic House Bear. We only rate dogs. Please only send dogs. Thank you... 12/10 would suffocate in floof https://t.co/4Ad1jzJSdp',
 '@NonWhiteHat @MayhewMayhem omg hello tanner you are a scary good boy 12/10 would pet with extreme caution',
 'RT @Athletics: 12/10 #BATP https://t.co/WxwJmvjfxo',
 'I have a new hero and his name is Howard. 14/10 https://t.co/gzLHboL7Sk',
 'Here we have a corgi undercover as a malamute. Pawbably doing important investigative work. Zero control over tongue happenings. 13/10 https://t.co/44ItaMubBf',
 'I present to you, Pup in Hat. Pup in Hat is great for all occasions. Extremely versatile. Compact as h*ck. 14/10 (IG: itselizabethgales) https://t.co/vvBOcC2VdC',
 "OMG HE DIDN'T MEAN TO HE WAS JUST TRYING A LITTLE BARKOUR HE'S SUPER SORRY 13/10 WOULD FORGIVE IMMEDIATE https://t.co/uF3pQ8Wubj",
 "Please only send dogs. We don't rate mechanics, no matter how h*ckin good. Thank you... 13/10 would sneak a pat https://t.co/Se5fZ9wp5E",
 '@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s',
 "Ugh not again. We only rate dogs. Please don't send in well-dressed  floppy-tongued street penguins. Dogs only please. Thank you... 12/10 https://t.co/WiAMbTkDPf",
 "Please don't send in photos without dogs in them. We're not @porch_rates. Insubordinate and churlish. Pretty good porch tho 11/10 https://t.co/HauE8M3Bu4",
 '@RealKentMurphy 14/10 confirmed',
 'Martha is stunning how h*ckin dare you. 13/10 https://t.co/9uABQXgjwa',
 'RT @rachel2195: @dog_rates the boyfriend and his soaking wet pupper h*cking love his new hat 14/10 https://t.co/dJx4Gzc50G',
 'I can say with the pupmost confidence that the doggos who assisted with this search are heroic as h*ck. 14/10 for all https://t.co/8yoc1CNTsu',
 "You'll get your package when that precious man is done appreciating the pups. 13/10 for everyone https://t.co/PFp4MghzBW"]

> Assessment 2: Image Predictions

> Assessment 3: Json Tweets

In [22]:
df_tweets

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
0,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,39467,False,False,False,False,en,NaN,NaN,NaN,NaN
1,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,892177421306343426,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,33819,False,False,False,False,en,NaN,NaN,NaN,NaN
2,Mon Jul 31 00:18:03 +0000 2017,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,25461,False,False,False,False,en,NaN,NaN,NaN,NaN
3,Sun Jul 30 15:58:51 +0000 2017,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,42908,False,False,False,False,en,NaN,NaN,NaN,NaN
4,Sat Jul 29 16:00:24 +0000 2017,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,41048,False,False,False,False,en,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2349,Mon Nov 16 00:24:50 +0000 2015,666049248165822465,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,False,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,111,False,False,False,False,en,NaN,NaN,NaN,NaN
2350,Mon Nov 16 00:04:52 +0000 2015,666044226329800704,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,False,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,311,False,False,False,False,en,NaN,NaN,NaN,NaN
2351,Sun Nov 15 23:21:54 +0000 2015,666033412701032449,666033412701032449,Here is a very happy pup. Big fan of well-main...,False,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,128,False,False,False,False,en,NaN,NaN,NaN,NaN
2352,Sun Nov 15 23:05:30 +0000 2015,666029285002620928,666029285002620928,This is a western brown Mitsubishi terrier. Up...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,132,False,False,False,False,en,NaN,NaN,NaN,NaN
2353,Sun Nov 15 22:32:08 +0000 2015,666020888022790149,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,False,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,2535,False,False,False,False,en,NaN,NaN,NaN,NaN

In [23]:
# gather info about data
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   object
 1   id                             2354 non-null   int64
 2   id_str                         2354 non-null   object
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   bool
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     float64
 10  in_reply_to_status_id_str      78 non-null     object
 11  in_reply_to_user_id            78 non-null     float64
 12  in_reply_to_user_id_str        78 non-null     object
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      object
 16  coordinates                    0 non-null      object
 17  place                          1 non-null      object
 18  contributors                   0 non-null      object
 19  is_quote_status                2354 non-null   bool
 20  retweet_count                  2354 non-null   int64
 21  favorite_count                 2354 non-null   int64
 22  favorited                      2354 non-null   bool
 23  retweeted                      2354 non-null   bool
 24  possibly_sensitive             2211 non-null   object
 25  possibly_sensitive_appealable  2211 non-null   object
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     float64
 29  quoted_status_id_str           29 non-null     object
 30  quoted_status                  28 non-null     object
dtypes: bool(4), float64(3), int64(3), object(21)
memory usage: 505.9+ KB

In [24]:
# check data tyoes
df_tweets.dtypes

created_at                        object
id                                 int64
id_str                            object
full_text                         object
truncated                           bool
display_text_range                object
entities                          object
extended_entities                 object
source                            object
in_reply_to_status_id            float64
in_reply_to_status_id_str         object
in_reply_to_user_id              float64
in_reply_to_user_id_str           object
in_reply_to_screen_name           object
user                              object
geo                               object
coordinates                       object
place                             object
contributors                      object
is_quote_status                     bool
retweet_count                      int64
favorite_count                     int64
favorited                           bool
retweeted                           bool
possibly_sensitive                object
possibly_sensitive_appealable     object
lang                              object
retweeted_status                  object
quoted_status_id                 float64
quoted_status_id_str              object
quoted_status                     object
dtype: object

In [25]:
# find number of retweets
df_tweets.query('retweeted == False').shape[0]

2354

###### _All Tweets here are not retweets_

In [26]:
# examin language columns
#### we might have to create a dictionary to map the full name of the language to thier abbreviations
df_tweets.lang.value_counts()

en     2336
und       7
nl        3
in        3
es        1
et        1
tl        1
ro        1
eu        1
Name: lang, dtype: int64

 Asssess Image Prediction

In [27]:
df_img_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

### Cleaning Data